* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #0a0a0a;
  color: #e0e0e0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.head {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(15, 15, 15, 0.9); 
  padding: 1rem 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  align-items: center;
  text-align: center;
}

.navbar ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.navbar ul li {
  margin: 0 15px;
}

.navbar ul li a {
  color: #00aaff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navbar ul li a:hover {
  color: #00d4ff;
}

.txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 80vh;
  background: linear-gradient(120deg, #0a0a0a, #001f33);
  color: #e0e0e0;
  padding: 2rem;
}

.conteudo {
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInUp 1.5s ease-out forwards;
}

.conteudo h1 {
  font-size: 2.8rem;
  margin-bottom: 1rem;
  font-weight: bold;
  color: #00aaff;
}

.conteudo p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.btn {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  background: #0077CC;
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 8px;
  transition: all 0.3s ease;
  box-shadow: 0 6px 15px rgba(0, 170, 255, 0.6);
  transform: translateY(50px);
  animation: fadeInUp 1.8s ease-out forwards;
}

.btn:hover {
  background: #0077cc;
  transform: scale(1.1);
  box-shadow: 0 8px 20px rgba(0, 212, 255, 0.8);
}

/* Animação */
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.footer {
  text-align: center;
  padding: 2rem 1rem;
  background: #0f0f0f;
  color: #00aaff;
  margin-top: auto;
  font-size: 0.9rem;
  border-top: 1px solid #005f99;
}

.footer h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #00d4ff;
}

.footer p {
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.5;
}

.botao {
  text-decoration: none;
  margin: 0 10px;
  font-size: 1rem;
  color: #ffffff;
  margin: 0px 10px;
  background-color: #1C1C1C;
  color: white;
  padding: 10px 20px;
  border: 2px solid transparent;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
  transition: all 0.3s ease;
}

a:hover{
  background-color: #000000;
  color: white;
  box-shadow: 0 6px 8px rgba(0, 234, 255, 0.3);
}
